# GitIgnore file, prevent files/folders
# from  being committed.
# remove all cached files git rm -r --cached .


# IntelliJ project files
*.iml
.idea/


# Built/Transpiled files
**/build/
**/**/*.js
**/**/**/*.js.map


# Keys
keys/
packages/cr-common/keys/*

# Misc
**/node_modules/
**/package-lock.json